:root {
    --color_dark: hsl(252, 30%, 27%);
    --color_white: hsl(252, 30%, 100%);
    --color_light: hsl(252, 30%, 95%);
    --color_gray: hsl(252, 15%, 65%);
    --color_primary: rgba(96, 28, 40, 0.849);
    --color_secondary: hsl(252, 100%, 90%);
    --color_success: hsl(120, 95%, 65%);
    --color_danger: hsl(0, 95%, 65%);
    --color_black: hsl(252, 30%, 10%);

    --border_radius: 15px;
    --card_border_radius: 1rem;
    --btn_padding: 0.4rem 1.2rem;
    --card_padding: 1rem;

    --sticky_top_left: 5.4rem;
    --sticky_top_right: -18rem;
}

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    /* xóa những mặc định trình duyệt mà web tự thêm */
    box-sizing: border-box;
    /* giúp các thẻ margin padding vẫn đủ kích thước */
}

html{
    font-size: 16px;
    /* neu ko khai bao font sixe thi mawc dinh trinh duyet laf 16px 
    1 rem = 16px */
}

html body {
    background-color: rgba(33, 37, 41, 0.85);
    color: white;
    letter-spacing: 1px;
}

.checkout{
    margin: 0 15%;
}

.btn_ {
    display: inline-block;
    padding: var(--btn_padding);
    font-weight: 500;
    border-radius: var(--border_radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn_primary {
    background: var(--color_primary);
    color: white;
    white-space: nowrap;
}

.btn_primary:hover {
    color: var(--color_primary);
    background-color: var(--color_secondary);
    white-space: nowrap;
}