
#my-cart{
    width: 100%;
    display: flex;
    justify-content: center;
}
#cart-list {
    width: 80%;
}

#chatBox {
    position: fixed;
    margin-top: 31.9%;
    width: 90px;
    height: 90px;
    margin-left: 94.5%;
    z-index: 9999;
    display: none;
}

#chatBox_btn {
    position: relative;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: white;
    background-image: url('/image/msg.JPG');
    background-repeat: no-repeat;
    background-position:center;
}

#chatBox_btn:hover {
    background-color: black;
}

#cart {
    display: flex;
}


#menu {
    font-weight: bold;
}

.cart-item {
    border-radius: var(--card_border_radius);
    background-color: rgba(245, 222, 179, 0.503);
}

.cart-item-image {
    border-radius: var(--card_border_radius);
}

/* .cart-item-amount {

} */


@media only screen and (min-width:576px) and (max-width: 1200px) {
    #chatBox {
        display: none;
    }
    #menu {
        font-size: 13px;
    }
    .cart-item-button {
        gap: 1;
    }
    .cart-item-button {
        gap: 1;
    }
    .subtract-item button, .add-item button {
        width: 90%;
        font-size: 1vw;
    }
    #cart-list {
        width: 100% !important;
    }
    .trade-info {
        gap: 0 !important;
    }
    .btn_primary {
        font-size: 1vw !important;
    }
}

@media only screen and (max-width: 575px) {
    #chatBox {
        display: none;
    }
    #menu {
        font-size: 13px;
    }
    .subtract-item button, .add-item button {
        width: 50%;
        font-size: 2vw;
    }
    #cart-list {
        width: 100% !important;
    }
    .trade-info {
        gap: 0 !important;
    }
    .btn_primary {
        font-size: 2vw !important;
    }
}

