body {
    margin: 0;
}

#h_logo {
    margin-left: 5%;
}

.logo {
    width: 150px;
}

.cart_logo {
    width: 100px;
    border-radius: 50%;
}

#search {
    margin: auto;
    width: 50%;
}

.nav-item {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}

.nav-item:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
}

.nav-item:active {
    background-color: white;
    color: black;
    text-decoration: underline;
}

.badge {
    width: 20px;
    height: 20px;
    top: 5px;
    display: flex;
    padding: 1px;
    justify-content: center;
}

#profileLogo {
    width: 40px;
    margin-left: 1rem;
}

@media only screen and (max-width: 768px){
    .nav-item {
        font-weight: bold;
        font-size: 13px;
        padding: 5px;
    }
}