html body {
  background-color: rgba(33, 37, 41, 0.95);
  color: white;
}

h1,
a,
.item__overlay p {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}


/* ChatBox */
#chatBox {
  position: fixed;
  min-width: 130px;
  max-width: 150px;
  max-height: 100px;
  right: -30px;
  top: 100px;
  z-index: 9999;
  display: flex;
  flex-direction: row;
}

#chat-container {
  display: none;
  position: fixed;
  margin-left: 63%;
  margin-top: 2.5%;
  top: 130px;
  width: 500px;
  min-height: 200px;
  max-height: 500px;
  border: 2px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
}

#chat-header {
  height: 15%;
  font-size: 2rem;
}

#chat-body {
  min-height: 200px;
  width: 100%;
  height: 70%;
  overflow: auto;
}

#chat-div {
  width: 100%;
  height: 15%;
}

#chat-info {
  width: 20%;
  height: 80%;
}

#chat-close {
  width: 20%;
  height: 80%;
  float: right;
}



#chat-chat {
  width: 20%;
}

.chat-body-sender-message {
  max-width: 80%;
  min-width: 30%;
  border: 2px solid black;
  font-weight: 500;
  border-radius: 5px;
  white-space: initial;
}

.chat-body-receiver-message {
  max-width: 80%;
  min-width: 30%;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 5px;
  white-space: initial;
}

.chat-body-sender {
  justify-content: end;
}

.chat-body-receiver {
  justify-content: start;
}

.profile-icon {
  width: 10%;
  font-size: 2.5rem;
}

.server-icon {
  width: 10%;
  font-size: 2.5rem;
}

/* Animation */
#typing .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 3%;
  background: black;
  animation: wave 1s linear infinite;
  animation-delay: -0.9s;
}

#typing .dot.two {
  animation-delay: -0.7s;
}

#typing .dot:nth-child(3) {
  animation-delay: -0.6s;
}

@keyframes wave {

  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-15px);
  }
}

/* Button class Override */
.btn {
  width: 75%;
}


.btn {
  opacity: 1;
}

/* WELCOME DASHBOARD */
.dashboard__text p {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 15% 10% 5%;
  line-height: 2rem;
}

.dashboard__text button {
  margin-left: 15%;
  padding: 3%;
}

.dashboard__text button a {
  text-decoration: none;
  color: white;
}

/* SEASONAL DISHES */
.row {
  position: relative;
}

.list-item img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: all .5s;
}

.list-item img:hover {
  opacity: 1;
}

.item__overlay {
  position: absolute;
  top: 0;
  left: 25%;
  text-align: center;
}

.item__overlay p {
  transform: translateY(100px);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 20px;
}

/* HISTORY */
.history {
  margin-bottom: 10vw;
}

.feedback__content .item {
  color: white;
  padding: 1rem;
}

.feedback__top p {
  color: white;
}

.feedback__top {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.47);
  position: relative;
}

.feedback__top::after {
  content: '';
  border-top: 9px solid rgba(0, 0, 0, 0.47);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;

  position: absolute;
  top: 100%;
  left: 26%;
}

.feedback__content .feedback__bottom img {
  width: 20vw;
  margin: 0;
  display: inline-block;
}

.feedback__bottom {
  display: flex;
  justify-content: center;

  width: 55%;
  margin: 2rem auto 0;
}

.feedback__name p {
  margin: 0;
  color: white;
}

.feedback__name {
  margin-left: 5px;
}

.feedback__name p:first-child {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.feedback__content .owl-theme .owl-dots .owl-dot span {
  background-color: #ff4f81;
  opacity: 0.5;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

.feedback__content .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}

/* SUB MENU */
.subMenu {
  margin: 2% 0;
}

.subMenu ul li {
  text-align: center;
  list-style: none;
}

.subMenu ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  padding: 1% 0;
}