body {
    margin: 0;
}

#h_logo {
    margin-left: 5%;
}

.logo {
    width: 150px;
}

#search {
    margin: auto;
    width: 50%;
}

.nav-item {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}

.nav-item:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
}

.nav-item:active {
    background-color: white;
    color: black;
    text-decoration: underline;
}

@media only screen and (max-width: 768px){
    .nav-item {
        font-weight: bold;
        font-size: 13px;
        padding: 5px;
    }
}