* {
    margin: 0;
    padding: 0;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/image/bg.webp);
    background-position: center;
    background-size: cover;
    position: absolute;
}

#form {
    width: 40%;
    margin: 2% auto;
    font-weight: bold;
    border-radius: 2px;
    border-style: groove;
    position: relative;
    background-color: #f5f5f5;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 490px;
    overflow: hidden;
}

.button_box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle {
    padding: 10px 28px;
    background: transparent;
    cursor: pointer;
    border: 0;
    outline: none;
    position: relative;
}

#btn_tg {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input_group {
    width: 80%;
    top: 100px;
    position: absolute;
    transition: .5s;
}

.btn-primary {
    background: linear-gradient(to right, #ff105f, #ffad06);
    color: black;
}

.log {
    border-radius: 30px;
    width: 50%;
    cursor: pointer;
    display: block;
    outline: none;
    margin: 10px auto;
}

hr {
    color: black;
    width: 15%;
}

#login {
    left: 10%;
}

#register {
    left: 110%;
}

@media screen and (max-width:1170px) {
    #form {
        width: 60%;
        height: 500px;
    }
}

@media screen and (max-width:590px) {
    #form {
        width: 95%;
        height: 500px;
    }
}