:root {
    --color_dark: hsl(252, 30%, 27%);
    --color_white: hsl(252, 30%, 100%);
    --color_light: hsl(252, 30%, 95%);
    --color_gray: hsl(252, 15%, 65%);
    --color_primary: rgba(96, 28, 40, 0.849);
    --color_secondary: hsl(252, 100%, 90%);
    --color_success: hsl(120, 95%, 65%);
    --color_danger: hsl(0, 95%, 65%);
    --color_black: hsl(252, 30%, 10%);

    --border_radius: 15px;
    --card_border_radius: 1rem;
    --btn_padding: 0.4rem 1.2rem;
    --card_padding: 1rem;

    --sticky_top_left: 5.4rem;
    --sticky_top_right: -18rem;
}

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    /* xóa những mặc định trình duyệt mà web tự thêm */
    box-sizing: border-box;
    /* giúp các thẻ margin padding vẫn đủ kích thước */
}

html{
    font-size: 16px;
    /* neu ko khai bao font sixe thi mawc dinh trinh duyet laf 16px 
    1 rem = 16px */
}

body{
    background-color: rgba(33, 37, 41, 0.95);
    color: white;
    letter-spacing: 1px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: var(--btn_padding);
    font-weight: 500;
    border-radius: var(--border_radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

/* .btn:hover {
    opacity: 0.8;
} */

.btn_primary {
    background: var(--color_primary);
    color: white;
    white-space: nowrap;
}

.btn_primary:hover {
    background: var(--color_secondary);
    color: var(--color_primary);
    white-space: nowrap;
}

/* CAROUSEL */
.carousel{
    background-image: url(/image/menu-page.jpg);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content h1{
    font-size: 3.5rem;
    padding-bottom: 20px;
}

.carousel__content a{
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 2px;
}

/* NUMBERS */

.number {
    padding-top: 50px;
}

.number__content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.number__item p:first-of-type {
    font-size: 2rem;
    color: white;
    font-weight: 600;
}

.number__item p:last-of-type {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}

/* VOUCHER */
.voucher{
    width: 80%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.voucher__content1{
    background-image: url(/image/voucher.jpg);
    background-size: 100% 100%;
    height: 300px;
    width: 600px;
    cursor: pointer;
    background-repeat: no-repeat;
    border-radius: var(--border_radius);
    padding: var(--card_padding);
    position: relative;
    opacity: 0.9;
}

.voucher__content1 > h3 {
    text-align: center;
    font-size: 30px;
    color: var(--color_primary);
}

.voucher__apply {
    font-size: 1.5rem;
    position: absolute;
    bottom: 2rem;
    left: 16%;
    font-weight:bold;
    border: none;  
    cursor: pointer;  
    width: 30%;
    padding: 10px;
}


.voucher__content2{
    background-image: url(/image/white.jpg);
    height: 300px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 5px 5px 15px #888888;
}

.voucher__content2 > div{
    text-align: center;
    font-size: 0.875rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

/* ADDRESS FORM */
#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 15;
    transition: all 0.5s ease;
    display: grid;
    place-items: center;
    display: none;
}

#address_form {
    width: 39.5%;
    border-radius: var(--card_border_radius);
    background: var(--color_white);
    align-items: center;
    padding: var(--card_padding);
    position: relative;
    transition: all 0.5s ease-in-out;
    color: black !important;
}

.upload_address {
    color: black;
}

.upload_address .form_title {
    border-bottom: 2px solid var(--color_light);
    display: flex;
    justify-content: center;
    position: relative;
}

.upload_address .form_title #close_btn {
    position: absolute;
    right: 0.2rem;
    top: 0.1rem;
}

.upload_address input[type="text"] {
    justify-self: start;
    width: 100%;
    padding: 1rem;
    background: transparent;
    color: var(--color_dark);
    margin-right: 1rem;
    border-radius: var(--card_border_radius);
}

.upload_address .caption {
    margin: 1rem 0;
}

.address_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address_btn p {
    color: black;
}

.post_address {
    justify-content: center;
}

/* DESCRIPTION FORM */
#overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 15;
    transition: all 0.5s ease;
    place-items: center;
    display: none;
}

#description_form {
    width: 39.5%;
    border-radius: var(--card_border_radius);
    background: var(--color_white);
    align-items: center;
    padding: var(--card_padding);
    position: relative;
    transition: all 0.5s ease-in-out;
}

.upload_description{
    color: black;
}

.upload_description .form_title {
    border-bottom: 2px solid var(--color_light);
    display: flex;
    justify-content: center;
    position: relative;
}

.upload_description .form_title #close_btn_2 {
    position: absolute;
    right: 0.2rem;
    top: 0.1rem;
}

.upload_description .caption {
    margin: 1rem 0;
}

.form_content {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    height: fit-content;
}

.dish_des {
    width: 100%;
}

.dish_des img {
    width: 100%;
}

.custom_dish {
    width: 40%;
}

.description_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post_address {
    justify-content: center;
}

/* ??? */

.tab-content .offer__col{
    display: inline-block;
    padding: 15px;
}

.offer__item {
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    padding: 25px 40px;
    text-align: center;
    background-color: white;
    transition: all .5s;
}

.offer__item:hover {
    background-color: #12ccc3;
}

.offer__item i {
    color: #ff4f81;
    font-size: 40px;
}

.offer__item h3 {
    font-size: 20px;
    color: black;
    margin: 25px 0 20px;
}

.offer__item p {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #6b6b6b;
}

/* MENU NEW DISHES */
.menu{
    margin-bottom: 50px;
}
.menu__description{
    text-align: center;
}
.menu__description h1{
    padding: 20px 0;
    font-weight: 500px;
    font-size: 2.5rem;
}
.menu__description p{
    padding-bottom: 30px;
    font-size: 1.2rem;
}

.menu__content{
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    height: 300px;
    margin: 1rem;
    padding: 1rem;
}

.menu__item {
    border-radius: 0;
    display: flex;
    width: 30rem;
    flex: 0 0 auto;
}

.menu__item > img{
    width: 50%;
    height: 100%;
    border-radius: var(--card_border_radius);
    box-shadow: 5px 5px 15px #888888;
}

.menu__text{
    padding: 20px 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.menu__text h3 {
    font-size: 100%;
}

.menu__text p {
    height: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 90%;
    margin-bottom: 1rem;
}

.purchase{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.purchase span{
    color: white;
    font-weight: 500;
}
.purchase button{
    background-color: white;
    border: 1px solid black;
    /* padding:  10px 15px; */
    font-size: 90%;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: var(--border_radius);
    color: #212529;
    font-weight: bold;
}

/* RECOMMENDATIONS */
.recommendation{
    margin-bottom: 50px;
}

.recommendation h1{
    text-align: center;
    padding-bottom: 30px;
    font-weight: 500px;
    font-size: 2.5rem;
}

.recommend__content{
    display: flex;
    gap: 1.5rem;
    /* width: 100%; */
    height: 280px;
    margin: 1rem;
    padding: 1rem;
    overflow-x: auto;
}

.recommend__item{
    position: relative;
    width: 175px;
    height: 200px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.recommend__item > img{
    width: 100%;
    height: 100%;
    /* display: block; */
    border-radius: var(--card_border_radius);
    box-shadow: 5px 5px 15px #888888;
    /* overflow: hidden; */
}

.recommend__title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--color_secondary);
    color: white;
    width: 100%;
    height: 50%;
    text-align: center;
    opacity: 1;
    transition: all .8s;
    border-bottom-left-radius: var(--card_border_radius);
    border-bottom-right-radius: var(--card_border_radius);
}

.recommend__title h3 {
    font-size: 100%;
}

.recommend__title span{
    font-size: 0.875rem;
    line-height: 18px;
}

.recommend__detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 1rem;
    border-radius: var(--card_border_radius);
    transition: all .8s;
    text-overflow: ellipsis;
    overflow: hidden;
    display: none;
}

.recommend__item:hover > .recommend__detail{
    display: block;
}

.plus_icon {
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    margin: 0 auto;
    bottom: -22px;
    left: 0;
    right: 0;
    border: 6px solid var(--color_primary);
    cursor: pointer;
}

.plus_icon:hover {
    background-color: var(--color_gray);
}

/* Categories */
.cate {
    margin-bottom: 3rem;
}

.cate h1{
    text-align: center;
    padding-bottom: 30px;
    font-weight: 500px;
    font-size: 2.5rem;
}

.category__title {
    text-align: center;
    margin: 1rem;
}
.menu__categories {
    height: 10rem;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
}

.category {
    height: 100%;
    width: 18%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: var(--card_border_radius);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 5px 5px 15px #888888;
}

.category:hover, .category.active {
    border: 4px solid red;
}

.category > img {
    height: 100%;
}

.category > h3 {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 20%;
    display: block;
    text-align: center;
    color: black;
}

.items__category {
    width: 135%;
    margin-left: -20%;
}

.dish__by_cate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.dish__by_cate > img {
    box-shadow: 5px 5px 15px #888888;
    margin-bottom: 1rem;
    cursor: pointer;
}

.cate__text {
    font-size: 90%;
    /* text-justify: inter-word; */
}


/* FEEDBACK */
.feedback__content{
    border: 1px solid black;
    border-radius: 5px;
    width: 35vw;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 2rem;
}

.feedback__content p{
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0 15px;
    margin: 10px 0 0;
    color: black;
}
.feedback__content .feedback__icon{
    padding: 10px 25px;
}
.feedback__content i{
    margin: 10px;
    font-size: 50px;
    color: green;
    transition: all .5s;
}
.feedback__content i:hover{
    box-shadow: 0px 0px 5px 5px #212529;
    border-radius: 50px;
}

/* MODAL */
#exampleModal h5 {
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}

#exampleModal p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
}

#exampleModal .modal-dialog {
    max-width: 600px;
}

.feedback__form form {
    width: 70%;
}

.feedback__form textarea{
    margin: 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}

.feedback__form input {
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .5s;
}

.feedback__form input:focus,
.feedback__form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.feedback__form textarea {
    border: 1px solid black;
    resize: none;
}

.feedback__form textarea::placeholder {
    color: black;
}

/* BACK TO TOP */
.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backToTop i {
    color: #0BBBCC;
    border: 2px solid #0BBBCC;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;}

.cart_logo {
    background-color: white;
    position: fixed;
    top: 20%;
    right: 1%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.cart_logo:hover {
    background-color: var(--color_gray);
}

.cart_logo > img {
    width: 24px;
    height: 24px;
}

.cd-top1--is-visible {
    visibility: visible;
    opacity: 1;
}


/* ChatBox */
#chatBox {
    position: fixed;
    visibility: hidden;
    min-width: 130px;
    max-width: 150px;
    cursor: pointer;
    max-height: 100px;
    right: -30px;
    top: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
}

#chat-container {
  display: none;
  position: fixed;
  margin-left: 66%;
  margin-top: 2.5%;
  top: 130px;
  width: 500px;
  min-height: 200px;
  max-height: 500px;
  border: 2px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
}

#chat-header {
  height: 15%;
  font-size: 2rem;
}

#chat-body {
  min-height: 200px;
  width: 100%;
  height: 70%;
  overflow: auto;
}

#chat-div {
  width: 100%;
  height: 15%;
}

#chat-info {
  width: 20%;
  height: 80%;
}

#chat-close {
  width: 20%;
  height: 80%;
  float: right;
}



#chat-chat {
  width: 20%;
}

.chat-body-sender-message {
  max-width: 80%;
  min-width: 30%;
  border: 2px solid black;
  font-weight: 500;
  border-radius: 5px;
  white-space:initial;
}

.chat-body-receiver-message {
  max-width: 80%;
  min-width: 30%;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 5px;
  white-space:initial;
}

.chat-body-sender {
  justify-content: end;
}

.chat-body-receiver {
  justify-content: start;
}

.profile-icon {
  width: 10%;
  font-size: 2.5rem;
}

.server-icon {
  width: 10%;
  font-size: 2.5rem;
}

/* Animation */
#typing .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 3%;
  background: black;
  animation: wave 1s linear infinite;
  animation-delay: -0.9s;
}

#typing .dot.two {
  animation-delay: -0.7s;
}
#typing .dot:nth-child(3) {
  animation-delay: -0.6s;
}
@keyframes wave {
  0%,
	60%,
	100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}

/* *************RESPONSIVE************** */
@media screen and (max-width:1245px) {
    .carousel__content h1, .menu__description h1, .recommendation h1, .category__title h1{
        font-size: 4vw;
    }
    .carousel__content a{
        font-size: 2vw;
    }   
    .number{
        padding-top: 2rem;
    }
    .number__content .number__item{
        margin: 0 1rem;
    }
    .number__content .number__item p{
        font-size: 2vw;
        padding: 0;
    }
    .voucher{
        padding: 0;
        margin: 0;
        margin-left: 2rem;
        display: block;
    }
    .voucher__content1{
        height: 35vh;
        width: 70vw;
        padding: 0 90px;
        margin: 0;
    }
    .voucher__content2{
        margin-top: 1rem;
        width: 70vw;
        height: 35vh; 
    }
    .voucher__content1 h3, .voucher__apply{
        visibility: hidden;
    }
    .voucher__content2 h3{
        font-size: 3vw;
    }
    /* .menu{
        padding-bottom: 0;
    }
    .menu__description p{
        font-size: 2vw;
        padding-bottom: 0;
    }
    .menu__content img{
        height: 25vh;
    }
    .menu__text{
        padding: 0;
    }
    .menu__text h3{
        font-size: 2.5vw;
    }
    .menu__text p{
        font-size: 1vw;
        text-align: left;
        padding: 0;
    }
    .menu__text button{
        padding: 0;
        font-size: 2vw;
    }
    .recommendation, .recommendation h1{
        padding: 0;
    }
    .recommend__content{
        gap: 30px 10px;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 40vh 40vh;
    }
    .recommend__content img{
        height: 30vh;
    }
    .recommend__item{
        height: 250px;
    }
    .recommend__content .recommend__title{
        height: 20vh;
    }
    .recommend__content .recommend__title h3{
        font-size: 2vw;
    }
    .recommend__content .recommend__detail{
        height: 40vh;
        padding: 0;
    }
    .recommend__content .recommend__detail p{
        font-size: 2vw;
        margin: 0;
    }
    .recommend__content .recommend__detail button img{
        background-size: 10px;
    } */
    .category h3 {
        font-size: 2vw;
    }
    .feedback__content p{
        font-size: 1.5vw;
    }
    .feedback__content .feedback__icon{
        padding:0;
    }
    .feedback__content .feedback__icon i{
        font-size: 5vw;
    }
}

@media screen and (max-width:390px) {
    .container {
        width: 100%;
    }
    .carousel{
        height: 60vh;
    }
    .carousel__content h1, .menu__description h1, .recommendation h1, .cate h1{
        font-size: 5vw;
    }
    .voucher{
        padding: 0;
        margin: 0;
        margin-left: .8rem;
        display: block;
    }
    .voucher__content1{
        height: 20vh;
        width: 80vw;
        padding: 0 90px;
        margin: 0;
    }
    .voucher__content2{
        margin-top: 1rem;
        width: 80vw;
        height: 35vh; 
        /* padding: 0; */
    }
    .voucher__content1 h3, .voucher__apply{
        visibility: hidden;
    }
    .voucher__content2 h3{
        font-size: 4vw;
    }
    .menu__content{
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        height: 200px;
        margin: 0.2rem;
        padding: 0rem;
    }
    
    .menu__item {
        width: 20rem;
    }
    .category h3 {
        font-size: 2.2vw;
    }
}