#form {
    width: 22%;
    font-weight: bold;
    border-radius: 2px;
    border-style: groove;
}
hr {
    color: black;
    width: 15%;
}

#checkBoxLabel {
    margin-left: 5%;
}
#checkBox {
    margin-left: 5%;
}

#submit {
    margin-left: 35%;
}