html, body {
    margin: 0;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.503);
    letter-spacing: 1px;
}


/* ChatBox */
#chatBox {
    position: fixed;
    min-width: 130px;
    max-width: 150px;
    max-height: 100px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
}

#chat-container {
  display: none;
  position: fixed;
  margin-left: 2.5%;
  margin-top: 2.5%;
  top: 180px;
  width: 700px;
  min-height: 200px;
  max-height: 500px;
  border: 2px solid black;
  overflow-y: auto;
  overflow-x: hidden;
}

#chat-header {
  height: 15%;
  font-size: 2rem;
}

#chat-body {
  min-height: 200px;
  width: 100%;
  height: 70%;
  overflow: auto;
}

#chat-div {
  width: 100%;
  height: 15%;
}

#chat-info {
  width: 20%;
  height: 80%;
}

#chat-close {
  width: 20%;
  height: 80%;
  float: right;
}



#chat-chat {
  width: 20%;
  height: 80%;  
}

.chat-body-sender-message {
  max-width: 80%;
  min-width: 30%;
  border: 2px solid black;
  font-weight: 500;
  border-radius: 5px;
  white-space:initial;
}

.chat-body-receiver-message {
  max-width: 80%;
  min-width: 30%;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 5px;
  white-space:initial;
}

.chat-body-sender {
  justify-content: end;
}

.chat-body-receiver {
  justify-content: start;
}

.profile-icon {
  width: 10%;
  font-size: 2.5rem;
}

.server-icon {
  width: 10%;
  font-size: 2.5rem;
}

/* Animation */
#typing .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 3%;
  background: black;
  animation: wave 1s linear infinite;
  animation-delay: -0.9s;
}

#typing .dot.two {
  animation-delay: -0.7s;
}
#typing .dot:nth-child(3) {
  animation-delay: -0.6s;
}
@keyframes wave {
  0%,
	60%,
	100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}

/* Button class Override */
.btn {
  width: 75%;
}


.btn {
  opacity: 1;
}

/* Reservation Form */

#restaurant {
  max-height: 1000px;
}

#form-column {
    display: none;
}

.table-image {
  height: 100px;
  background-color: lightblue;
}

.table-button:hover {
    background-color: rgb(255, 252, 68);
    border: 2px solid black;
}

.required {
  color: red;
}

@media only screen and (max-width: 1200px) {

}


