:root {
    --color_dark: hsl(252, 30%, 27%);
    --color_white: hsl(252, 30%, 100%);
    --color_light: hsl(252, 30%, 95%);
    --color_gray: hsl(252, 15%, 65%);
    --color_primary: rgba(96, 28, 40, 0.849);
    --color_secondary: hsl(252, 100%, 90%);
    --color_success: hsl(120, 95%, 65%);
    --color_danger: hsl(0, 95%, 65%);
    --color_black: hsl(252, 30%, 10%);

    --border_radius: 15px;
    --card_border_radius: 1rem;
    --btn_padding: 0.4rem 1.2rem;
    --card_padding: 1rem;

    --sticky_top_left: 5.4rem;
    --sticky_top_right: -18rem;
}

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    /* xóa những mặc định trình duyệt mà web tự thêm */
    box-sizing: border-box;
    /* giúp các thẻ margin padding vẫn đủ kích thước */
}

html{
    font-size: 16px;
    /* neu ko khai bao font sixe thi mawc dinh trinh duyet laf 16px 
    1 rem = 16px */
}

body{
    background-color: rgba(33, 37, 41, 0.95);
    color: white;
    letter-spacing: 1px;
}

/* CAROUSEL */
.carousel-item h5{
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 40%;
}
/* STORY */
.story{
    padding: 5% 0;
}
.story__item .story__picture{
    position: relative;
}
.story__item .story__picture img{
    width: 60%;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story__item .story__text{
    position: absolute;
    bottom: 0;
    left: 0.5;
    padding-left: 50%;
}

.story__content p{
    padding: 3% 15%;
    letter-spacing: 1px;
    line-height: 2rem;
}




