<!-- Header--> 
<nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" id="h_logo">
            <img src="/image/Capture.PNG" alt="logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarHead" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBarHead">
            <!-- <form class="d-flex mx-auto" id="search">
                <input class="form-control me-2" type="search" placeholder="Search...">
                <button class="btn btn-primary" type="submit">Search</button>
            </form> -->
            <ul class="nav nav-pills ms-md-auto">
                <li class="nav-item text-uppercase text-break"> <a class="nav-link" href="/menuboard.pdf">Menu</a> </li>
                <li class="nav-item text-uppercase text-break"> <a class="nav-link" href="/menu">Delivery</a> </li>
                <li class="nav-item text-uppercase text-break"> <a class="nav-link" href="/reservation">Reservation</a> </li>
                <li class="nav-item text-uppercase text-break"> <a class="nav-link" sec:authorize="isAnonymous()" href="/login">Login</a> </li>
                <li class="nav-item text-uppercase text-break"> <a class="nav-link" sec:authorize="isAuthenticated()" href="/logout">Logout</a> </li>
            </ul>     
        </div>
    </div>
</nav>