<!DOCTYPE html>
<html lang="en">

<head>
    <!-- This was made by Dinh Pham
         Last Change: August 1st, 2022-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Playfair+Display:wght@400;700&family=Roboto+Condensed:wght@300;400;700&family=Work+Sans:wght@300;400;700&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home_header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/image/logo.PNG" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Home Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chatbox.js"></script>
</head>

<body>
    <header></header>

    <main role="main">

        <!--Welcome DashBoard-->
        <div class="row position-relative pt-md-4 pt-sm-2 mt-sm-2 mt-md-4">
            <div class="col-md-8 col-sm-6 ">
                <div id="carouselExampleFade" class="carousel slide carousel-fade d-flex align-items-center h-100" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/image/design1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/image/design2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/image/design3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__text col-md-4 col-sm-6">
                <p>The approach to the menu was easy. We had no interest in trying to reinvent food. We went with
                    choices that were popular catering requests — basic, down-home style — just from a wide range of
                    regions. We are known for our generous portions of BBQ, Southern, Cajun/Creole meals, plus a touch
                    of Caribbean fun.</p>
                <button type="button" class="btn btn-outline-warning mb-sm-4"><a href="/story">Restaurant Profile</a></button>
            </div>
        </div>

        <!--Seasonal Dishes-->
        <div class="pt-md-5 pt-sm-3 mt-sm-2 mt-md-4"
            style="width: 90%; margin-left: 5%;">
            <div class="row">
                <figure class="list-item col-12 col-md-3 col-lg-3 position-relative" style="height: 300px;">
                    <a href="">
                        <img src="/image/appe1.jpg" alt="season1">
                    </a>
                    <figcaption class="item__overlay">
                        <p>Jalapeno Popper Wontons</p>
                    </figcaption>
                </figure>
                <figure class="list-item col-12 col-md-3 col-lg-3 position-relative" style="height: 300px;">
                    <a href="">
                        <img src="/image/des1.jpg" alt="season2">
                    </a>
                    <figcaption class="item__overlay">
                        <p>Chocolate-Mint Bars</p>
                    </figcaption>
                </figure>
                <figure class="list-item col-12 col-md-3 col-lg-3 position-relative" style="height: 300px;">
                    <a href="">
                        <img src="/image/main-dish1.jpg" alt="season3">
                    </a>
                    <figcaption class="item__overlay">
                        <p>Cedar-Plank Salmon</p>
                    </figcaption>
                </figure>
                <figure class="list-item col-12 col-md-3 col-lg-3 position-relative" style="height: 300px;">
                    <a href="">
                        <img src="/image/main-dish2.jpg" alt="season4">
                    </a>
                    <figcaption class="item__overlay">
                        <p>Braised Chicken Legs With Grapes and Fennel</p>
                    </figcaption>
                </figure>
            </div>
        </div>

        <!--Restaurant History-->
        <div class="history row position-relative pt-md-5 pt-sm-3 mt-sm-2 mt-md-4"
            style="width: 90%; margin-left: 5%;">
            <div class="container bg-info">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="feedback__top">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore optio aspernatur
                                voluptatum sequi aliquid minima. Lorem ipsum dolor, sit amet consectetur adipisicing
                                elit. Reprehenderit non iure eius architecto eos voluptatum?Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Harum, consectetur.</p>
                        </div>
                        <div class="feedback__bottom">
                            <img src="/image/design1.jpg" alt="avatar">
                            <div class="feedback__name">
                                <p>Marry Jane</p>
                                <p>Lorem, ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--Sub-Menu-->
        <div class="row position-relative pt-md-5 pt-sm-3 mt-sm-2 mt-md-4"
            style="width: 90%; margin-left: 5%;">
            <div class="subMenu container">
                <h1 class="h1 text-center pb-3"> Our Menu</h1>
                <ul>
                    <li><a href="/menuboard.pdf">Digital Menu Board</a></li>
                    <hr>
                    <li><a href="/delivery">Delivery Menu</a></li>
                    <hr>
                    <li><a href="/menu">Seasonal Menu</a></li>
                </ul>
            </div>

            <!-- style="height: 300px; width: 90%; margin-left: 5%;">
            <div class="subMenu container">
                <h1 class="h1 text-center pb-3"> Our Menu</h1>
                <ul>
                    <li><a href="">Digital Menu Board</a></li>
                    <hr>
                    <li><a href="">Delivery Menu</a></li>
                    <hr>
                    <li><a href="">Seasonal Menu</a></li>
                </ul>
            </div> -->
        </div>

        <!--Google Map-->

        <div class="row position-relative pt-md-5 pt-sm-3 mt-sm-2 mt-md-4"
            style="height: 600px; width: 90%; margin-left: 5%;">
            <div class="container bg-info">
                <h1 class="h1 text-white text-center"> Our Location </h1>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.897549572912!2d106.62903071532963!3d10.742378862757418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529e94594adcd%3A0x35cd5ec9e929d87c!2sMM%20Mega%20Market%20B%C3%ACnh%20Ph%C3%BA!5e0!3m2!1sen!2s!4v1659362001559!5m2!1sen!2s"
                    width="100%" height="85%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


            <!--Chat Box Icon-->
            <div id="chatBox" class="">
                <button class="btn btn-info text-light p-auto rounded-pill" type="button" id="box-btn"
                    onclick="showChat();">
                    <i class="bi bi-chat-text p-auto"></i> Chat
                </button>
            </div>

            <!-- Chat Form -->
            <div class="bg-dark border border-5 border-danger" id="chat-container">

                <!-- Chat Header -->
                <div class="d-flex justify-content-between mb-2 d-flex flex-row position-sticky" id="chat-header">
                    <button class="btn btn-info mt-1 ms-1 fw-bold" type="button" id="chat-info" onclick="showInfo();">
                        <i class="bi bi-info-circle"></i> Info
                    </button>

                    <button class="btn btn-primary mt-1 ms-1 fw-bold" type="button" id="chat-chat"
                        onclick="startChat();">
                        <i class="bi bi-wechat"></i> Chat
                    </button>

                    <button class="btn mt-1 bg-light fw-bold" id="chat-close" onclick="hideChat();">
                        <i class="bi bi-x-square-fill"></i> Exit
                    </button>
                </div>

                <!-- Chat Body -->

                <div class="border border-2 border-dark bg-light" id="chat-body">
                    <!-- Sender Example -->
                    <!-- <div class="container-fluid d-flex gap-1 chat-body-sender">
                <div class="chat-body-sender-message mt-2 mb-2 bg-info">
                    <span>What is the fastest way to subway of Ho CHi Minh city?</span>
                </div>
                <div class="profile-icon">
                    <i class="bi bi-person-square"></i>
                </div>
            </div> -->

                    <!-- Receiver Sample -->
                    <!-- <div class="container-fluid d-flex gap-3 chat-body-receiver">
                <div class="server-icon">
                    <i class="bi bi-server"></i>
                </div>
                <div class="chat-body-receiver-message mt-2 mb-2 bg-warning">
                    <span>Go through Le Loi street 1</span>
                </div>
            </div> -->
                </div>

                <!-- Chat Message Sender -->
                <div class="border border-3 border-primary bg-light rounded" id="chat-div">
                    <form onsubmit="updateMessage(); return false;">
                        <div class="d-flex">
                            <input class="form-control w-75" type="text" name="message" id="message"
                                placeholder="Enter Your Message...">
                            <button class="form-control w-25 btn btn-primary border border-1 border-dark"
                                type="submit">Send</button>
                            <button class="form-control btn btn-primary d-none" type="reset" id="reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
    </main>

    <footer></footer>

    <script>
        $(document).ready(function () {
            $('header').load('/home_header')
            $('footer').load('/footer')
        })
    </script>
    <!-- OWL JS -->
    <script src="/js/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 2
                }
            }
        })
    </script>
</body>

</html>