<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This was made by Dinh Pham
         Last Change: August 1st, 2022-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
    <link rel="stylesheet" href="css/registration.css">
    <title>Register</title>
</head>
<body>
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="/" id="h_logo">
            <img src="image/logo.JPG" alt="logo" class="rounded-circle">
        </a>
    </div>
    <div class="container-fluid d-flex justify-content-center" id="form">
        <form action="/action.php">
            <div class="mb-3 mt-5">
              <label for="name" class="form-label">Your Name</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email">
              </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="At least 8 characters...">
                <div class="container-fluid d-flex mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" fill="currentColor" class="bi bi-exclamation" viewBox="0 0 16 16">
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                    <p class="small">Passwords must be at least 8 characters</p>
                </div>
            </div>
            <div class="mb-3">
                <label for="re-password" class="form-label">Re-enter Password</label>
                <input type="password" class="form-control" id="re-password" placeholder="Re-enter password...">
              </div>
            <button type="submit" class="btn btn-primary mb-5" id="submit">Continue</button>
          </form>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-5" id="register">
        <hr>
        <h5 class="h5" style="color: gray;">
            Already Have An Account?
        </h5>
        <hr>
    </div>
    <div class="container-fluid d-flex justify-content-center">
        <button type="button" class="btn btn-info"> <a href="/login" class="link link-light">Sign In</a></button>
    </div>

</body>
</html>