<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This was made by Dinh Pham
         Last Change: August 1st, 2022-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <link rel="shortcut icon" href="/image/logo.PNG" />

    <!-- BootStrap5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/reservation_header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/reservation.css">

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chatbox.js"></script>
    <script src="/js/reservation.js"></script>
</head>
<body>
    <!-- Header--> 
    <nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" id="h_logo">
                <img src="/image/Capture.PNG" alt="logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarHead" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navBarHead">
                <div class="container-fluid m-auto">
                    <div class="row">
                        <div class="col-lg-9">
                            <!-- <form class="d-flex" id="search">
                                <input class="form-control me-2" type="search" placeholder="Search...">
                                <button class="btn btn-primary btn-lg w-50" type="submit">Search</button>
                            </form> -->
                        </div>
                        <div class="col-lg-3">
                            <ul class="nav nav-pills m-md-auto justify-content-center">
                                <li class="nav-item text-uppercase text-break"> <a class="nav-link" href="/menu">Delivery</a> </li>
                                <li class="nav-item text-uppercase text-break"> <a class="nav-link" href="/login">Login</a> </li>
                            </ul>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <main role="main"> 
        <div class="row mt-sm-4 mt-md-4 mt-lg-5">

            <div class="col-md-1 col-lg-1 col-sm-1"></div>
            <!--Internal Map-->
            <div class="col-md-5 col-lg-4 col-sm-12 mb-3 border border-3 border-dark">
                <div class="container-fluid d-flex justify-content-center">
                    <h1 class="h1">Restaurant Map</h1>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4" id="restaurant">
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(1);">
                            <h6 class="h6">Table 1</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(2);">
                            <h6 class="h6">Table 2</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(3);">
                            <h6 class="h6">Table 3</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(4);">
                            <h6 class="h6">Table 4</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4" id="restaurant">
                        <button class="btn mb-3 table-button" type="button" onclick="showForm(5);">
                            <h6 class="h6">Table 5</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                        <button class="btn mt-5 mb-4 table-button" type="button" onclick="showForm(6);">
                            <h6 class="h6">Table 6</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(7);">
                            <h6 class="h6">Table 7</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(8);">
                            <h6 class="h6">Table 8</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4" id="restaurant">
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(9);">
                            <h6 class="h6">Table 9</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(10);">
                            <h6 class="h6">Table 10</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(11);">
                            <h6 class="h6">Table 11</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                        <button class="btn mt-5 mb-5 table-button" type="button" onclick="showForm(12);">
                            <h6 class="h6">Table 12</h6>
                            <img src="/image/map.jpg" alt="table" class="table-image img-fluid">
                        </button>
                    </div>
                </div>
            </div>


            <!--Personal Information, Date, Time, Seat Size, Branch-->
            <div class="col-md-6 col-lg-3 col-sm-12" id="form-column">
                <div class="container-fluid d-block justify-content-center">
                    <div class="col-md-12 mb-3 d-flex justify-content-center align-content-center border border-5 border-info rounded p-auto" id="form">
                        <form action="#" class="form-check fw-bold justify-content-center align-content-center">
                            <h3 class="h3 text-primary" id="table-reservation">Reservation</h3>
                        
                            <label for="name"><h3 class="h3">Name<i class="bi bi-asterisk required"></i></h3></label>
                            <input class="form-control mb-3" type="text" placeholder="Enter Name" name="name" id="name" required pattern="[A-Z a-z 0-9]+">
                        
                            <label for="email"><h3 class="h3">Email</h3></label>
                            <input class="form-control mb-3" type="email" placeholder="Enter Email" name="email" id="email">
    
                            <label for="address"><h3 class="h3">Address<i class="bi bi-asterisk required"></i></h3></label>
                            <input class="form-control mb-3" type="text" placeholder="Enter Address" name="address" id="address" required pattern="[0-9]+">
                        
                            <label for="phone"><h3 class="h3">Phone Number<i class="bi bi-asterisk required"></i></h3></label>
                            <input class="form-control mb-3" type="tel" placeholder="Enter Phone Number" name="phone" id="phone" required>

                            <label for="date"><h3 class="h3">Date<i class="bi bi-asterisk required"></i></h3></label>
                            <input class="form-control mb-3" type="date" placeholder="Enter Date" name="date" id="date" required>

                            <label for="time"><h3 class="h3">Time<i class="bi bi-asterisk required"></i></h3></label>
                            <select class="form-select form-select-lg mb-3 form-control" name="time" id="time" required>
                                <option selected>Choose Time Slot</option>
                                <option value="10:00am - 11:00am">10:00am - 11:00am</option>
                                <option value="11:00am - 12:00pm">11:00am - 12:00pm</option>
                                <option value="12:00pm - 13:00pm">12:00pm - 13:00pm</option>
                                <option value="13:00pm - 14:00pm">13:00pm - 14:00pm</option>
                                <option value="14:00pm - 15:00pm">14:00pm - 15:00pm</option>
                                <option value="15:00pm - 16:00pm">15:00pm - 16:00pm</option>
                                <option value="16:00pm - 17:00pm">16:00pm - 17:00pm</option>
                                <option value="17:00pm - 18:00pm">17:00pm - 18:00pm</option>
                            </select>


                            <label for="size"><h3 class="h3">Seat Size<i class="bi bi-asterisk required"></i></h3></label>
                            <select class="form-select form-select-lg mb-3 form-control" name="size" id="size" required>
                                <option selected>Choose Table Size</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="More">More</option>
                            </select>

                            <label for="size"><h3 class="h3">Branch Location<i class="bi bi-asterisk required"></i></h3></label>
                            <select class="form-select form-select-lg mb-3" name="size" id="size" required>
                                <option selected>Choose Location</option>
                                <option value="Ho Chi Minh">Ho Chi Minh City</option>
                                <option value="Ha Noi">Ha Noi City</option>
                                <option value="Nha Trang">Nha Trang City</option>
                            </select>

                            <button type="submit" class="btn btn-primary fw-bold mt-2 mb-2 w-100">Submit</button>
                        </form>
                    </div>
                    
                    
                </div>
            </div>
            
            
            <!--Google Map-->
            <div class="col-md-12 col-lg-4 position-relative mb-sm-2 mb-md-2 mb-lg-2">
                <div class="col-md-12 mb-3 d-flex justify-content-center dropdown">
                    <button class="btn btn-primary pt-3 pb-3 mt-3 button-block dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">View Your Local Branch</button>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
                        <li><button class="dropdown-item" type="button" onclick="showMap('HCM');">Ho Chi Minh City</button></li>
                        <li><button class="dropdown-item" type="button" onclick="showMap('HN')">Ha Noi City</button></li>
                        <li><button class="dropdown-item" type="button" onclick="showMap('NT')">Nha Trang City</button></li>
                        </ul>
                </div>
                <div class="container mb-lg-2 mb-md-3 border-3 border-info">
                    <h1 class="h1 text-dark text-center" id="branch">Ho Chi Minh City</h1>
                    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.897549572912!2d106.62903071532963!3d10.742378862757418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529e94594adcd%3A0x35cd5ec9e929d87c!2sMM%20Mega%20Market%20B%C3%ACnh%20Ph%C3%BA!5e0!3m2!1sen!2s!4v1659362001559!5m2!1sen!2s" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            

            <!--Chat Box Icon-->
            <div id="chatBox" class="">
                <button class="btn btn-info text-light p-auto" type="button" id="box-btn" onclick="showChat();">
                    <i class="bi bi-chat-text p-auto"></i> Chat
                </button>
            </div>

            <!-- Chat Form -->
            <div class="bg-dark border border-5 border-danger" id="chat-container">

                <!-- Chat Header -->
                <div class="d-flex justify-content-between mb-2 d-flex flex-row position-sticky" id="chat-header">
                    <button class="btn btn-info mt-1 ms-1 fw-bold" type="button" id="chat-info" onclick="showInfo();">
                        <i class="bi bi-info-circle"></i> Info
                    </button>

                    <button class="btn btn-primary mt-1 ms-1 fw-bold" type="button" id="chat-chat" onclick="startChat();">
                        <i class="bi bi-wechat"></i> Chat
                    </button>

                    <button class="btn mt-1 bg-light fw-bold" id="chat-close" onclick="hideChat();">
                        <i class="bi bi-x-square-fill"></i> Exit
                    </button>
                </div>

                <!-- Chat Body -->

                <div class="border border-2 border-dark bg-light" id="chat-body">
                    <!-- Sender Example -->
                    <!-- <div class="container-fluid d-flex gap-1 chat-body-sender">
                        <div class="chat-body-sender-message mt-2 mb-2 bg-info">
                            <span>What is the fastest way to subway of Ho CHi Minh city?</span>
                        </div>
                        <div class="profile-icon">
                            <i class="bi bi-person-square"></i>
                        </div>
                    </div> -->

                    <!-- Receiver Sample -->
                    <!-- <div class="container-fluid d-flex gap-3 chat-body-receiver">
                        <div class="server-icon">
                            <i class="bi bi-server"></i>
                        </div>
                        <div class="chat-body-receiver-message mt-2 mb-2 bg-warning">
                            <span>Go through Le Loi street 1</span>
                        </div>
                    </div> -->
                </div>

                <!-- Chat Message Sender -->
                <div class="border border-3 border-primary bg-light rounded" id="chat-div">
                    <form onsubmit="updateMessage(); return false;">
                        <div class="d-flex">
                            <input class="form-control w-75" type="text" name="message" id="message" placeholder="Enter Your Message...">
                            <button class="form-control w-25 btn btn-primary border border-1 border-dark" type="submit">Send</button>
                            <button class="form-control btn btn-primary d-none" type="reset" id="reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>

    </main>
    <footer></footer>

    <script>
        $(document).ready(function() {
            $('footer').load('/footer')
        })
    </script>
</body>
</html>